# Stack build artifacts
.stack-work/
dist/
dist-newstyle/

# GHC intermediate files
*.hi
*.o

# Executables and binaries
*.exe
*.so
*.dll

# Local Stack environment files
.ghc.environment.*
.stack-root/

# Logs or temporary files
*.log
